body{
    margin:0;
    padding:0 2em 0 2em;
    max-width:1380px;

    
}
@media screen and (min-width: 300px  ){

 .menu__item{
        transition: 0.4s;
    }
    .menu__item:hover{
        transition: 0.4s;
        transform: scale(0.9);
    }

.main__header {

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

}

.main__header__logo {

    display: flex;
    width: 100%;
    justify-content: center;
    padding: 0.5em 0 0.5em 0;

}

.logo__img {

    max-width: 100%;
    height: 100px;

}

.logo__img:hover  {

    opacity: 0.8;

}


.logo__link {

display: block;

}


.main__nav {

background-color: #222;
position: relative;

width: 100%;
height: 100vh;

display: flex;
flex-direction: column;

justify-content: flex-start;
align-items: center;

transform-origin: left top;
transform: scale(0);

opacity: 0.8;

}

.menu__nav {

position: absolute;
padding-right: 1em;

}

.nav__contact {

    display: flex;
    justify-content: center;


}

.contact__item {

    margin: 1em 0.8em 0em 0.8em;
    font-size: 25px;
    color: white;
    background-color: #222;

}

 
.menu__item {

list-style:none;
padding: 0.5em;
transition:0.4s;
}
    .menu__item:hover{
        transition: 0.4s;
        transform: scale(0.9);
    }


.menu__link {

text-decoration: none;
font-family: sans-serif;
font-size: 1.4em;
color: #ddd;
line-height: 2.3em;
letter-spacing: 1.2px;

}


.menu__link:hover {
    opacity: 0.6;
    text-decoration-line: underline;
    text-decoration-color: #ddd;

}


}

.show {

    transform: scale(1);
    transition:transform 1s;

}







@media screen and (min-width: 800px  ){
    .main__nav {
        width: 100%;
        transform: scale(1);
        position: auto;
        background-color: white;
        height: auto;
    }

    .menu__nav{
        width: 90%;
        display: flex;
        position: static;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        background-color: #ddd;
    }
    
    .menu__link{
        color: #111;
        font-size: 18.5px;
        font-weight: 500;
        padding-right:1em
    }
    .main__header__logo{
        margin-bottom: -1em;
    }
    .menu__item{
        padding:0.8em 0.6em 0.7em 0.2em;
        text-align: center;
        margin-left: -0.3em;
    }
    
}


@media screen and  ( min-width: 1230px  ){

     
    .main__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center

    }
 .menu__nav{
        height: 0;
        background-color: white
    }
    .main__nav{
        height:auto;
        margin-top: 1.2em;
    }

    .menu__link:hover{
        text-decoration: none;
       
    }
    .menu__link{
        padding-right: 1em
    }

    .logo__img{
        margin-top: -0.8em;
        width: 100%;
        margin-left: -0em;
        
    }
    .menu__item{
        transition: 0.4s;
    }
    .menu__item:hover{
        transition: 0.4s;
        transform: scale(0.9);
    }
}

.separator{
    opacity: 0.1;
    box-shadow: 1px 1px 15px grey;
}